@media screen and (max-width:576px) {

    nav,
    nav ul,
    .section1 {
        flex-direction: column;
    }

    header div {
        padding: 20px;
    }

    .section1 .img {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (min-width:576px) and (max-width:992px) {
    .section1 {
        flex-direction: column;
    }
}