/* fonts style tag  */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


/* header ster  */
header {
    background-color: rgba(255, 144, 14, 0.1);
}

/* nav ster  */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1230px;
    margin: 0px auto;
}

nav h3 {
    font-size: 45px;
    font-weight: 700px;
    color: #131313;
}

nav ul {
    display: flex;
    gap: 40px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    font-weight: 500px;
    font-size: 18px;
    color: #424242;
}

/* nav end  */

header div {
    max-width: 1230px;
    margin: 0px auto;
}

.banner {
    max-width: 850px;
    margin: 0px auto;
    text-align: center;
    margin-bottom: 60px;
}

header div h1 {
    font-size: 64px;
    font-weight: bold;
    color: #424242;
}

header div p {
    font-size: 16px;
    font-weight: 400px;
    color: #727272;
}

.btn {
    font-size: 20px;
    font-weight: 400px;
    color: #FFFFFF;
    background-color: #FF900E;
    border: none;
    border-radius: 5px;
    padding: 15px 20px;
}

header img {
    width: 100%;
    margin-bottom: 50px;
}

/* header end  */
/* main ster  */
main {
    max-width: 1240px;
    margin: 0px auto;
    margin-top: 130px;
}

.section1 {
    display: flex;
    align-items: center;
}

.section1 .img {
    /* width: 100%; */
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 24px;
}

.section1 .text {
    margin-left: 60px;
    max-width: 512px;
}

.section1 .text h3 {
    font-size: 45px;
    font-weight: 700px;
}

.section1 .text p {
    font-size: 16px;
    font-weight: 400px;
    line-height: normal;
    color: #727272;
}