/* fonts style tag  */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


/* header ster  */
header {
    background-color: rgba(255, 144, 14, 0.1);
}

/* nav ster  */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0px auto;
}

nav h3 {
    font-size: 45px;
    font-weight: 700px;
    color: #131313;
}

nav ul {
    display: flex;
    gap: 40px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    font-weight: 500px;
    font-size: 18px;
    color: #424242;
}

/* nav end  */

header div {
    max-width: 1440px;
    margin: 0px auto;
}

.banner {
    max-width: 850px;
    margin: 0px auto;
    text-align: center;
    margin-bottom: 60px;
}

header div h1 {
    font-size: 64px;
    font-weight: bold;
    color: #424242;
}

header div p {
    font-size: 16px;
    font-weight: 400px;
    color: #727272;
}

.btn {
    font-size: 20px;
    font-weight: 400px;
    color: #FFFFFF;
    background-color: #FF900E;
    border: none;
    border-radius: 5px;
    padding: 15px 20px;
}

header img {
    width: 100%;
    margin-bottom: 50px;
}

/* header end  */
/* main ster  */
main {
    max-width: 1440px;
    margin: 0px auto;
    /* border: 2px solid red; */
}

main>section {
    margin-top: 130px;
}

.section1 {
    display: flex;
    align-items: center;
}

.section1 .img {
    /* width: 100%; */
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 24px;
}

.section1 .text {
    margin-left: 60px;
    max-width: 512px;
}

.section1 .text h3 {
    font-size: 45px;
    font-weight: 700px;
}

.section1 .text p {
    font-size: 16px;
    font-weight: 400px;
    line-height: normal;
    color: #727272;
}



.section3 h3 {
    font-size: 45px;
    font-weight: 700px;
    color: #131313;
}

.section3 p {
    font-size: 16px;
    font-weight: 400px;
    color: #727272;
    width: 542px;
    margin-bottom: 70px;
}

.section3 .bos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 40px;
}

.section3 .box {
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.section3 .box img {
    margin-top: 50px;
}

.section3 .box h4 {
    font-size: 45px;
    font-weight: 600px;
    color: #424242;
    margin-top: 5px;
    margin-bottom: 10px;
}

.section3 .box p {
    font-size: 20px;
    font-weight: 600px;
    color: #727272;
    margin-top: 10px;
}

.section4 h4 {
    font-size: 45px;
    font-weight: 700px;
    color: #424242;
    margin-bottom: 30px;
    text-align: center;
}

.section4 p {
    font-size: 20px;
    font-weight: 400px;
    color: #727272;
    text-align: center;
}

.section4 .img-icon {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    margin-top: 43px;
    margin-bottom: 130px;
}

.section4 .img-icon img {
    filter: grayscale(100%);
}

/* main end  */

/* footer ster  */
footer {
    margin-top: 130px;
    background-color: rgba(255, 144, 14, 0.1);
    border-radius: 5px;
    max-width: 1440px;
    margin: 0px auto;
}

footer p {
    text-align: center;
    font-size: 20px;
    padding: 20px;
    font-weight: 400px;
    color: #727272;
}

/* footer end  */